@media screen and (min-width: 780px) {
    #header_slogan {
        font-size: 25px;
        font-weight: 600;
    }
    #paragraph_slogan {
        font-size: 35px;
        font-weight: 600;
    }
    .icon-space {
        margin-right: 10px;
    }
    .icon {
        width: 40px;
    }
}

@media screen and (max-width: 779px) {
    #header_slogan {
        font-size: 20px;
    }
    #paragraph_slogan {
        font-size: 25px;
        font-weight: 600;
    }
    .icon-space {
        margin-right: 10px;
    }
    .icon {
        width: 35px;
    }
}

iframe {
    height: 400px;
}
h5 {
    line-height: 40px;
}
hr {
    width: 20%;
}
#paragraph_slogan {
    line-height: 5px;
}
