header {
  position: relative;
  width: 100%; /*height diatur di media screen*/
  overflow: hidden;
  border-bottom: 2px solid #D1D1D1;
  z-index: -1;
}
header img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#div_join, #div_share {
  padding: 15px;
}
#div_share > a:first-child {
  padding-right: 10px;
}
#div_share > a:last-child {
  padding-left: 10px;
}
#div_share i {
  font-size: 30px;
}
img#image {
  height: 80%;
}
div.modal-content > div#title_share {
  padding: 15px;
  background-color: #E9E9E9;
}
div.modal-content > div#input_share {
  padding: 30px 20px 20px 20px;
  background-color: inherit;
}
div.modal-content > div#input_share img:first-child {
  margin-right: 10px;
}

div.modal-content > div#input_share img:last-child {
  margin-left: 10px;
}
div.modal-content > div#copy_share {
  padding: 0px 20px 20px 20px;
  background-color: inherit;
}
div.modal-content > div#copy_share a {
  font-size: 17px;
}
input#share_url_page {
  display: block;
  border-radius: 4px;
  border: 1px solid #2880C8;
  padding: 20px 10px;
  height: 30px;
}
div.row iframe {
  height: 400px;
}

@media screen and (min-width: 601px) {
  header {
    height: 460px;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 300px;
  }
}
