  /*responsive based on materialize grid*/
  @media screen and (min-width: 300px) and (max-width: 600px) { /*tampilan mobile->tablet*/

    input[type=search] {
      width: 100%;
      font-size: 10px;
    }
    ::-webkit-input-placeholder {
      font-size: 13px;
    }
    div.container_category:first-child {
      border-bottom: 20px solid white;
    }
    div.container_category:first-child {
      border-bottom: 20px solid white;
    }

  }
  @media screen and (min-width: 601px) { /*tampilan tablet->desktop*/

    input[type=search] {
      width: 100%;
      padding: 12px 20px 12px 40px;
    }
    div.card-image {
      height: 142px !important;
      overflow-y: hidden;
    }
    div.card-image img.activator {
      height: 100%;
    }

    .browse_categories div.row div.container_category:first-child {
      border-right: 20px solid white;
    }
    .browse_categories div.row div.container_category:first-child {
      border-right: 20px solid white;
    }
    .browse_categories div.row div.container_category:first-child {
      border-right: 20px solid white;
    }

  }
  @media screen and (min-width: 780px) {

    input[type=search] {
      width: 50%;
    }

  }
  @media screen and (min-width: 993px) { /*tampilan desktop*/
    input[type="search"] {
      width: 70%;
    }
    main {
      position: relative;
      top: -10%;
    }
    div.card-image {
      height: 170px !important;
      overflow-y: hidden;
    }
    div.card-image img.activator {
      height: 100%;
    }

  }
  /*end of responsive query*/
  section.slider ul.indicators {
    display: none !important;
  }
  ::-webkit-input-placeholder {
    color: #6A6A6A;
    font-weight: bold;
  }
  section.search_box {
    background-color: #fff;
    border-radius: 8px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: -17%;
    width: 70%;
  }
  section.search_box h4 {
    color: #D75F24;
    margin: 0 0 20px;
    font-size: 33px;
  }
  section.search_box form {
    margin-bottom: 20px;
  }

  input[type=search] {
    /*width ada di media screen*/
    border: 1px solid #B9B9B9;
    background-image: url('../images/svg/ic_search_black_24px.svg');
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: 10px 10px;
    transition: width 0.4s ease-in-out;
    padding: 12px 20px 12px 40px;
  }
  section.btn_go_to {
    position: relative;
    float: left;
    height: auto;
    width: 20%;
    top: -10%;
  }

  section > #title_event span::before {
    content: '#';
  }
  div.card-image img {
    object-fit: cover;
    object-position: center;
  }
  div.card-content {
    height: 80px;
  }
  div.card-content a:first-child::before {
    content: 'Lokasi : ';
  }
  div.card-content a:first-child, div.card-action a:first-child {
    cursor: default !important;
  }
  div.card-action a:first-child:hover {
    color: #ffab40 !important;
  }
  #title_event {
    font-size: 1.1em;
  }
  #card-reveal {
    word-wrap: break-word;
    overflow-y: hidden;
  }
  #see_more {
    background-color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #43aaef;
    transition: all .5s ease-out;
  }
  #see_more:hover {
    text-decoration: none;
    padding: 10px;
    background-color: #43aaef;
    border: 1px solid #43aaef;
    color: white;
    transition: all .5s ease-in;
  }
  .browse_categories div.row div.container_category {
    height: 200px;
    overflow: hidden;
  }
  .browse_categories div.row div.container_category:hover div.category_image {
      transform: scale(1.1);
      transition: all .5s;
  }
  div.browse_categories div.row div.container_category div.category_image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center 99%;
    position: relative;
    transition: all .5s;
    border-radius: 4.5px;
  }
  div.browse_categories div.row:first-child div.container_category:first-child a div.category_image {
    background-image: url('../images/technology.jpg');
  }

  div.browse_categories div.row:first-child div.container_category:last-child a div.category_image {
    background-image: url('../images/music.jpg');
  }

  div.browse_categories div.row:nth-child(2) div.container_category:first-child a div.category_image {
    background-image: url('../images/art.jpg');
  }

  div.browse_categories div.row:nth-child(2) div.container_category:last-child a div.category_image {
    background-image: url('../images/class.jpg');
  }

  div.browse_categories div.row:nth-child(3) div.container_category:first-child a div.category_image {
    background-image: url('../images/islam.jpg');
  }
  div.browse_categories div.row:nth-child(3) div.container_category:last-child a div.category_image  {
    background-image: url('../images/sports.jpg');
  }
  div.category_image p {
    position: absolute;
    top: 27%;
    left: 38%;
    font-size: 25px;
    transition: all .5s;
  }
  div.category_image:hover p {
    transition: all .5s;
  }
  div.category_image:hover p:first-child {
    top: 16%;
  }
  div.category_image p:last-child {
    opacity: 0;
    left: 0;
    font-size: 14px;
    position: relative;
    margin: 0 auto;
    top: 49%;
    text-align: center;
    width: 70%;
  }
  div.category_image:hover {
    filter: grayscale(40%);
  }
  div.category_image:hover p:last-child {
    opacity: 1;
  }
