nav#nav {
  box-shadow: 0px 1.5px 5px #D2D2D2 !important;
}

@media screen and (min-width: 760px) {
    #button_submit, #button_reset {
      height: 40px !important;
    }
}

@media screen and (max-width: 759px) {
  #button_submit, #button_reset {
      margin-bottom: 15px !important;
  }
}
