footer {
  box-sizing: border-box;
  width: 100%;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  margin-top: 30px;
}

.footer-distributed .footer-left p {
  color: #BFBFBF;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-left {
  width: 50%;
  float: left;
}
 .footer-right {
  margin-top: -15px;
  float: right;
  width: 50%;
  text-align: right;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 30px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
