@import url('https://fonts.googleapis.com/css?family=Ubuntu|Lobster|Cabin|Lobster+Two');
html, body {
  min-height: 100%;
  overflow-x: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}
* {
  box-sizing: border-box !important;
}
.mycontainer {
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
}
.mycontainer_without_padding {
  width: 90%;
  margin: 0 auto;
}
.footer-copyright .row {
  margin-bottom: 0;
}
.no-border {
  border-style: none !important;
}
.no-outline {
  outline-style: none !important;
}
/*float format*/
.right {
  float: right !important;
}
.left {
  float: left !important;
}
/*format align text*/
.center-align {
  text-align: center;
}
.justify-align {
  text-align: justify;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
/*font style*/
.capitalize {
  text-transform: capitalize !important;
}
.lowecase {
  text-transform: lowercase !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.lighter {
  font-weight: lighter !important;
}
/*font family*/
.font-lobster {
  font-family: 'Lobster', cursive !important;
}
.font-cabin {
  font-family: 'Cabin', sans-serif !important;
}
.font-ubuntu {
  font-family: 'Ubuntu', sans-serif !important;
}
.font-lobster_two {
  font-family: 'Lobster Two', cursive !important;
}
.font-arial {
  font-family: Arial, Helvetica, sans-serif !important;
}
.font-italic {
  font-style: italic !important;
}
.font-bold {
  font-weight: bold !important;
}
.font-bolder {
  font-weight: bolder !important;
}
/*background color*/
.wet-asphalt {
  background-color: #2c3e50 !important;
}
.midnight-blue {
  background-color: #273747 !important;
}
.pumpkin-orange {
  background-color: #d35400 !important;
}
.cool-green {
  background-color: #27ae60 !important;
}
.coral-blue {
  background-color: #43aaef !important;
}
/*color text*/
.wet-asphalt_text {
  color: #2c3e50 !important;
}
.midnight-blue_text {
  color: #273747 !important;
}
.pumpkin-orange_text {
  color: #d35400 !important;
}
.cool-green_text {
  color: #27ae60 !important;
}
.coral-blue_text {
  color: #43aaef !important;
}
.white-text {
  color: #fff !important;
}
.radius-20 {
  border-radius: 20px !important;
}
/*css reset*/
.margin-reset {
  margin: 0 !important;
}
.margin-right_reset {
  margin-right: 0 !important;
}
.margin-left_reset {
  margin-left: 0 !important;
}
.margin-bottom_reset {
  margin-bottom: 0 !important;
}
.margin-top_reset {
  margin-top: 0 !important;
}
.padding-reset {
  padding: 0 !important;
}
.padding-right_reset {
  padding-right: 0 !important;
}
.padding-left_reset {
  padding-left: 0 !important;
}
.padding-bottom_reset {
  padding-bottom: 0 !important;
}
.padding-top_reset {
  padding-top: 0 !important;
}
@media screen and (min-width: 780px) {
  .div-space {
      min-height: 30px;
  }
}
@media screen and (max-width: 779px) {
  .div-space {
      min-height: 60px;
  }
}
