/*handphone < 600px, tablet > 600px < 992px, desktop > 992px*/
* {
  box-sizing: border-box !important;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.margin-reset {
  margin: 0 !important;
}
.padding-reset {
  padding: 0 !important;
}
/*usually use for card*/
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
}
.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}
/*hide element on handphone*/
@media screen and (max-width: 600px) {
  .hide-on-phone {
    display: none !important;
  }
}
/*hide element on tablet*/
@media screen and (min-width: 601px) and (max-width: 992px) {
  .hide-on-tablet {
    display: none !important;
  }
}
/*hide element on handphone and tablet*/
@media screen and (max-width: 992px) {
  .hide-on-phone-and-tablet {
    display: none !important;
  }
}
/*hide element on tablet and desktop*/
@media screen and (min-width: 601px) {
  .hide.on-tablet-and-desktop {
    display: none !important;
  }
}
/*hide element on desktop*/
@media screen and (min-width: 993px) {
  .hide-on-desktop {
    display: none !important;
  }
}
