* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6e6e6;
    overflow-x: hidden;
}
.navigation {
    height: 70px;
    border-bottom: 4px solid #000;
    background: #000;
}

.brand {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    line-height: 70px;
    position: absolute;
    float: left;
    padding-left: 20px;
}

.brand a,
.brand a:visited {
    text-decoration: none;
    color: #fff;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    position: relative;
    float: left;
}

nav ul li a,
nav ul li a:visited {
    font-weight: bold;
    line-height: 70px;
    display: block;
    padding: 0 20px;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #fff;
    background: #000;
}

/* Mobile navigation */

.nav-mobile {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 70px;
    height: 70px;
    background: #000;
}

#nav-toggle {
    position: absolute;
    top: 22px;
    left: 18px;
    padding: 10px 35px 16px 0;
    cursor: pointer;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    position: absolute;
    display: block;
    width: 35px;
    height: 5px;
    content: '';
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 1px;
    background: #fff;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after
{
    top: 0;
}

#nav-toggle.active span:before
{
    transform: rotate(45deg);
}

#nav-toggle.active span:after
{
    transform: rotate(-45deg);
}

/*header nya*/

header.header-background
{
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    height: 450px;
    background-image: url('../images/header_final_latest.jpg');
    background-repeat: no-repeat;
    background-position: 50% 15%;
    background-size: cover;
}

div.header-caption
{
    position: relative;
    top: 15%;
    width: 80%;
    margin: 0 auto;

    text-align: center;
}

div.header-caption h2
{
    font-size: 45px;
    font-weight: bolder;
    /*diatur di media screen*/

    letter-spacing: 4px;

    color: white;
    /*diatur di media screen*/
}

div.header-caption hr
{
    width: 15%;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;

    color: white;
}

div.header-caption p
{
    font-size: 23px;
    /*diatur di media screen*/
    font-style: oblique;
    line-height: 40px;

    color: white;
    /*diatur di media screen*/
}

section.to-content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-top: -30px;
    text-align: center;
    height: 60px;
}

section.to-content button
{
    /*diatur di media screen*/
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in;
    color: white;
    border: 1px solid #357cba;
    border-radius: 50%;
    outline-style: none;
    background-color: #4fa4ef;
}

section.to-content button:hover
{
    transition: background-color .3s ease-in;

    background-color: #3e8fd6;
}

section.to-content button:active
{
    transition: background-color .3s ease-in;

    background-color: #357cba;
}

section.slogan
{
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
}

section.slogan blockquote
{
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    /*diatur di media screen*/
}

section.slogan blockquote p
{
    font-size: 25px;

    text-align: center;
    letter-spacing: 1.5px;

    color: #f39c12;
    /*diatur di media screen*/
}

section.slogan blockquote span
{
    font-weight: bold;

    color: #d35400;
}

/*main content nya*/

main.containernya
{
    position: relative;

    margin: 0 auto;
}

main form
{
    position: relative;

    width: 80%;
    margin: 20px auto 0 auto;
}

main.containernya form input,
textarea,
button
{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    outline-style: none;
    /*kecuali si button, padding button diatur lg dibawah*/
}
main.containernya form input::first-letter {
  text-transform: capitalize;
}

main.containernya form input {
    display: inline-block;
    width: 48%;
    margin-bottom: 20px;
    transition: border .5s;
    border: 1.5px solid #9fa1a5;
    background-color: #f6f6f6;
}

main.containernya form input:focus {
    transition: border .5s;

    border: 1.5px solid #545659;
}

main.containernya form input:first-child {
    float: left;
}

main.containernya form input:nth-child(2) {
    float: right;
}
main.containernya form p::first-letter {
  text-transform: capitalize;
}
main form textarea {
    display: block;
    width: 100%;
    resize: vertical;
    transition: border .5s;
    border: 1.5px solid #9fa1a5;
    background-color: #f6f6f6;
}
main form textarea:focus {
    transition: border .5s;
    border: 1.5px solid #545659;
}
main form button[type='submit'] {
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color .5s ease-out;
    color: white;
    border: 1.5px solid #d35400;
    outline-style: none;
    background-color: #db671a;
}

main form button[type='submit']:hover {
    transition: background-color .5s ease-out;
    background-color: #bf4a10;
}
form button[type="submit"]::after {
  content: "     "
}

@media screen and (min-width: 681px) {
    .nav-list {
        display: inline-block !important;
    }
}

@media screen and (max-width: 680px) {
    .navigation,
    nav ul li a,
    nav ul li a:visited {
        background-color: #161717;
    }
    .nav-mobile {
        display: block;
        background-color: inherit;
    }
    nav {
        width: 100%;
        padding-top: 70px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        line-height: 25px;
        padding: 15px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    header.header-background {
        height: 350px;
    }
    div.header-caption {
        top: 15%;
    }
    div.header-caption h2 {
        font-size: 30px;
        line-height: 50px;
        letter-spacing: 3.5px;
    }
    div.header-caption p {
        font-size: 18px;
        line-height: normal;
        margin-top: 5px;
    }
    section.slogan blockquote {
        padding: 20px;
    }
    section.slogan blockquote p
    {
        font-size: 17px;
    }
    main.containernya form input,
    textarea
    {
        display: block;
        float: none;
        overflow: auto;
        width: 100%;
    }
}
