section#content-top div.profile-picture{
  padding-top: 20px;
}
section#content-bottom div.other-event p {
  font-size: 20px;
}
section#content-bottom div.other-event div.row > div:first-child {
  padding-left: 0;
}
section#content-bottom div.other-event div.row > div:last-child {
  padding-right: 0;
}
