* {
  margin: 0;
  padding: 0;
}
html, body {
  background-color: #F9F9F9;
  height: 100%;
}
div.container {
  transform: translateY(60%);
  width: 70%;
  margin: 0 auto;
}
p {
  color: #666;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 1.2rem;
  line-height: 1.5;
}
p span {
  color: #378DAF;
  font-weight: 800;
}
div.container button {
  transition: all .3s ease-in;
  background: #F9F9F9;
  margin-top: 20px;
  border-radius: 25px;
  padding: 15px;
  border: 1.5px solid #217262;
  line-height: 10px;
}
div.container button:hover {
  background: #217262;
  transition: all .3s ease-in;
}
div.container button a {
  color: #217262;
  padding: 15px;
  font-weight: 700;
  width: 100%;
  text-decoration: none;
}
div.container button:hover a {
  color: #F9F9F9;
}
