header {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
header section {
  float: left;
  width: 50%;
  height: 100%;
}
header section:first-child {
  position: relative;
  background-color: #27ae60;
}
header section:first-child h5 {
  font-size: 35px;
  position: relative;
  width: 80%;
  margin: 0 auto;
  top: 30%;
}
header section:first-child p {
  position: relative;
  top: 30%;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  color: #F2F2F2;
}
header section:last-child {
  text-align: center;
  background-color: #27ae60;
}
header section:last-child img {
  object-fit: scale-down;
  width: 60%;
  height: 100%;
}
main {
  min-height: 80vh;
}
main div.our_events {
  text-align: center;
  padding: 35px;
}
main div.our_events h2 {
  color: #27ae60;
}
main div.our_events p {
  width: 80%;
  margin: 20px auto;
  color: #323131;
  font-weight: 500;
}
main div.outside_card {
  padding: 0 .75rem;
  float: left;
  overflow: hidden;
  width: 33.33%;
}
main div.card {
  width: 100%;
  box-shadow: 1px 2px 3px .7px #E2E2E2;
  height: 300px;
  margin: .5rem 0 1rem 0;
}
main div.card a {
  text-decoration: none;
}
main div.image_events {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
main div.image_events img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
main div.location_events span::before {
  content: 'Lokasi : ';
}
main div.location_events {
  height: 30%;
  width: 100%;
  padding: 30px 16px;
  color: #039be5;
}
main div.link_events {
  height: 20%;
  border-top: 1px solid #DBDBDB;
  padding: 20px 16px;
  width: 100%;
}
main div.link_events a {
  color: #ffab40;
}
@media screen and (min-width: 1200px) {

}
@media screen and (min-width: 993px) {

}
@media screen and (min-width: 601px) and (max-width: 992px) {
  main div.outside_card {
    padding: 0 .75rem;
    float: left;
    overflow: hidden;
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  header section:first-child h5 {
    font-size: 20px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 10%;
  }
  header section:first-child p {
    position: relative;
    font-size: 15px;
    top: 15%;
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #F2F2F2;
  }
  header section:last-child img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }
  main div.outside_card {
    width: 100%;
    float: none;
  }
}
