/*css reset*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Cabin|Lobster');
* {
  box-sizing: border-box;
  outline-style: none;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ol, ul, li{
	list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
/*end of css reset*/
/*sidebar css*/
section.warning_on_smarphone {
  display: none;
}
nav {
  height: 60px;
  background-color: #fafafb;
  border-bottom: 1px solid #c8ccd0;
  float: right;
  /*width di media screen*/
}
nav div.tools_left {
  display: flex;
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
}
nav div.tools_left h3 {
  position: relative;
  color: #787778;
}
nav div.tools_right {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  width: 80%;
  height: 100%;
}
nav div.tools_right form {
  width: 100%;
  margin: 0;
}
nav div.tools_right input[type="search"] {
  float: right;
  padding: 10px;
  width: 250px;
  height: 35px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #c8ccd0;
  transition-property: all;
  transition-timing-function: initial;
  transition-duration: .5s;
  transition-delay: .2s;
}
nav div.tools_right input[type="search"]:hover {
  border: 1px solid #32A1DF;
}
nav div.tools_right input[type="search"]:focus {
  width: 125%;
  border: 1px solid #32A1DF;
  transition-property: all;
  transition-timing-function: initial;
  transition-duration: .5s;
  transition-delay: 0s;
}
nav div.tools_right button {
  position: absolute;
  right: 0;
  height: 35px;
  width: 50px;
  background-color: #1E83BB;
  color: white;
  border: 1px solid #1E83BB;
  border-radius: 2px;
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
  overflow: hidden;
}
nav div.tools_right button.search_on {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  transition: all 0.5s;
}
nav button[type="submit"] i {
  font-size: 28px;
  overflow: hidden;
}
aside.sidebar {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  transition: all .3s;
}
aside.sidebar ul {
  width: 100%;
  height: 100%;
  background-color: #34495e;
}
aside.sidebar ul li{
  z-index: 999;
  background-color: #34495e;
  position: relative;
  border-bottom: 1px solid #263749;
  width: 100%;
  height: 70px;
  font-size: 15px;
  line-height: 60px;
  padding: 5px 0 5px 20px;
}
aside.sidebar > ul > li:first-child {
  height: 60px;
  line-height: 45px;
  font-family: 'Lobster', cursive;
  background-color: #33689E;
  padding-right: 10px;
}
aside.sidebar > ul > li:first-child a {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("../../assets/images/nu.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 30px;
}
aside.sidebar > ul > li:first-child a span {
  font-size: 25px;
  letter-spacing: 1.7px;
  font-weight: 500;
  position: absolute;
  left: 45px;
}
aside.sidebar ul li:not(:first-child):hover, aside.sidebar ul li ul li:hover {
  background-color: #2c3e50;
}
aside.sidebar ul li:not(:first-child) a {
  display: block;
}
aside.sidebar ul li:not(:first-child) a span {
  position: absolute;
  left: 45px;
}
aside.sidebar ul li a {
  position: relative;
  color: #fff;
  font-weight: 500;
}
aside.sidebar ul li a i {
  float: left;
  line-height: 60px;
}
aside.sidebar ul li a i.multi_menu {
  float: right !important;
  padding-right: 10px;
}
aside.sidebar ul li ul {
  opacity: 0;
  visibility: hidden;
  height: auto;
  width: 100%;
  margin-top: -1px;
  left: 100%;
  top: 0;
  position: absolute;
  border-left: 1px solid #2c3e50;
  background-color: #34495e;
}
aside.sidebar ul li:hover ul {
  opacity: 1;
  visibility: visible;
  left: 100%;
}
aside.sidebar button.sidebarBtn {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 60px;
  background-color: #f5f5f5;
  border: none;
  border-bottom: 1px solid #c8ccd0;
  z-index: 999;
  cursor: pointer;
}
/*end of sidebar css*/

/*general css*/
.container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.input-field {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 38px;
}
.input-field:nth-last-child(2) {
  margin-bottom: 10px;
}
.circle {
  border-radius: 50%;
}
input[type=text]::-ms-clear, input[type=text]::-ms-reveal { display: none; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
main {
  position: relative;
  float: right;
  height: calc(100% - 120px);
}
main div.container {
  height: 100%;
  position: relative;
}
/*end of general css*/

/*register page*/
main form {
  margin-top: 25px;
}
main form input:not([type="time"]):not([type="date"]):not([type="file"]), main form textarea {
  width: 100%;
  resize: vertical;
}
main form input:not([type="file"]), main form textarea {
  padding: 10px;
  border: 1.5px solid #C1BDBD;
  border-radius: 4px;
  transition: all .5s;
}
main form div.input-field:first-child input[type="text"] {
  width: 49%;
}
main form div.input-field:first-child input:first-child {
  float: left;
}
main form div.input-field:first-child input:last-child {
  float: right;
}
main form div.input-field:nth-child(2) input[type="time"] {
  float: left;
}
main form div.input-field:nth-child(2) input[type="date"] {
  float: right;
}
main form input[type="time"], main form input[type="date"] {
  width: 49%;
}
main form label.input-label {
  position: absolute;
  left: 0;
  top: 0;
  background: #9b59b6;
  color: white;
  height: 38px;
  padding: 0 10px;
  border-radius: 4px;
  min-width: 150px;
  transition: all 0.3s;
}
main form label.input-label:hover {
  background: #7B3399;
  cursor: pointer;
  transition: all 0.3s;
}
main form label.input-label:active {
  background-color: #692286;
  transition: all 0.3s;
}
main form label.input-label i {
  line-height: 38px;
  padding-right: 10px;
  font-size: 24px;
  transition: all 0.5s;
}
main form label.input-label span {
  position: relative;
  display: inline-block;
  top: -7px;
}
main form input[type="file"] {
  display: none;
}
::placeholder {
    color: #B8B8B8;
    transition: all .5s;
}
input:focus::placeholder, textarea:focus::placeholder {
    color: #636262;
    transition: all .5s;
}

main form input:not([type="file"]):focus, main form textarea:focus {
  border: 1.5px solid #9C9898;
  transition: all .5s;
}
main form button[type="submit"] {
  position: absolute;
  background-color: #29BF69;
  color: #fff;
  padding: 10px;
  border: 1px solid #1FA157;
  border-radius: 4px;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 38px;
  font-size: 15px;
  width: 150px;
  transition: all 0.3s;
}
main form button[type="submit"]:hover {
  background-color: #1FA157;
  color: #fff;
  padding: 10px;
  border: 1px solid #1FA157;
  cursor: pointer;
  transition: all 0.3s;
}
main form button[type="submit"]:active {
  background-color: #19904C;
  transition: all 0.3s;
}
main form button span {
  float: left;
  margin-left: 10px;
}
main form button[type="submit"] i {
  font-size: 18px;
  margin-left: 5px;
  transition: all 0.5s;
}
main form button[type="submit"]:hover i {
  transform: translateX(4px);
  transition: all .7s;
}
/*end of register page*/

/*list events page*/
main table {
  table-layout: fixed;
  width: 100%;
  max-width: 1280px;
  margin: 17px auto;
}
main table th, table td {
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
  /*font size di media screen*/
}
main table th {
  font-weight: 500;
  color: white;
  background-color: #27ae60;
  border: 1px solid #DBDADA;
}
main table th:first-child {
  border-top-left-radius: 5px;
}
main table th:last-child {
  border-top-right-radius: 5px;
}
main table td {
  border-left: 1px solid #DBDADA;
  border-bottom: 1px solid #DBDADA;
  border-right: 1px solid #DBDADA;
  color: #373737;
  font-size: 15px;
  height: 75px;
}
main table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
main table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
main table tr:nth-child(odd) {
  background-color: #F6F6F6;
}
main table tr:nth-child(odd):hover {
  background-color: #f6f6f6;
}
main table tr:nth-child(even) {
  background-color: #fff;
}
main table td img {
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main ul.pagination {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}
main ul.pagination li {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  color: #474747;
  vertical-align: top;
  height: 30px;
  font-weight: lighter;
  cursor: pointer;
}
main ul.pagination li i {
  line-height: 30px;
  font-size: 25px;
}
main ul.pagination li a {
  color: inherit;
  cursor: inherit;
  font-size: 20px;
  line-height: 30px;
  padding: 0 10px;
}
main ul.pagination li.disabled {
  color: #818181;
  cursor: default;
}
main ul.pagination li.active {
  background-color: #27A1DD;
  color: white;
  border-radius: 2px;
}
/*end of list events page*/

/*footer css*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
}
footer div.sosmed {
  position: relative;
  height: 100%;
  float: left;
  padding-left: 25px;
  line-height: 54px;
}
footer div.sosmed p {
  margin: 0;
  letter-spacing: .8px;
}
footer div.copyright {
  position: relative;
  height: 100%;
  background-color: #E0E0E0;
  border-top: 1px solid #C4C4C4;
  float: left;
  text-align: right;
  color: #747474;
}
footer div.copyright div.container {
  line-height: 54px;
}
footer div.copyright p {
  margin: 0;
  letter-spacing: .3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
/*end footer css*/

@media screen and (max-width: 600px) /*hanphone and below*/ {
  aside, main, footer, div, section:not(.warning_on_smarphone) {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  section.warning_on_smarphone {
    display: flex !important;
    width: 100%;
    height: 200px;
    position: absolute;
    color: #817D7D;
    font-weight: bold;
    font-size: 20px;
    top: 50%;
    margin-top: -100px;
    align-items: center;
    justify-content: center;
  }

}
@media screen and (min-width: 601px) and (max-width: 992px)/*handphone -> tablet*/ {
  aside.sidebar {
    width: 250px;
    left: -250px;
  }
  aside.sidebar.active {
    left: 0 !important;
  }
  aside.sidebar.active + nav {
    width: calc(100% - 300px); /*berasal dari width 100% nav - width sidebarBtn 50px - width aside.sidebar 250px*/
  }
  main.main_active {
    position: relative !important;
    width: calc(100% - 250px);
  }
  nav {
    width: calc(100% - 50px);
  }
  main {
    width: 100%;
    right: 0;
  }
  footer div.sosmed {
    width: 250px;
    color: #747474;
    background-color: #E0E0E0;
    border-top: 1px solid #C4C4C4;
  }
  footer div.sosmed.sosmed_active {
    background-color: #34495e !important;
    color: #E7E7E7 !important;
    border-top: 1px solid #263749;
  }
  footer div.copyright {
    width: calc(100% - 250px);
  }
}
@media screen and (min-width: 781px) and (max-width: 992px)/*tablet -> desktop*/ {
  /* aside.sidebar {
    width: 250px;
    left: -250px;
  }
  aside.sidebar.active {
    left: 0 !important;
  }
  main.main_active {
    position: relative !important;
    width: calc(100% - 250px);
  }
  nav {
    width: calc(100% - 50px);
  }
  main {
    width: 100%;
    right: 0;
  }
  footer div.sosmed {
    width: 250px;
    color: #747474;
    background-color: #E0E0E0;
    border-top: 1px solid #C4C4C4;
  }
  footer div.sosmed.sosmed_active {
    background-color: #34495e !important;
    color: #E7E7E7 !important;
    border-top: 1px solid #263749;
  }
  footer div.copyright {
    width: calc(100% - 250px);
  } */
}
@media screen and (min-width: 993px) /*desktop -> large desktop*/ {
  aside.sidebar {
    width: 300px;
  }
  aside.sidebar .sidebarBtn {
    display: none;
  }
  nav {
    width: calc(100% - 300px);
  }
  main {
    width: calc(100% - 300px);
  }
  main table td {
    font-size: 13px;
  }
  footer div.sosmed {
    width: 300px;
    color: #E7E7E7;
    border-top: 1px solid #263749;
    background-color: #34495e;
  }
  footer div.copyright {
    width: calc(100% - 300px);
  }
  main table td {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) /*large desktop*/ {

}
